<section class="team">
  <div class="container">
    <div class="team__left">
      <h2 class="team__title title">our team</h2>

      <p>
        Lorem ipsum dolor sit amet, conse ctetur adipi sicing elit, sed do eiusmod tempor inciLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
      </p>

      <a class="team__link" href="#">
        join width us
        <svg class="team__icon">
          <use xlink:href="images/slider/sprite.svg#shop-now"></use>
        </svg>
      </a>
    </div>

    <div class="team-foto">
      <ul class="team-foto__list">
        <li class="team-foto__item">
          <img class="team-foto__img" src="images/about-team/team-1.jpg" alt="foto Eliza Elliot">
          <div class="team-foto__content">
            <h3 class="team-foto__subtitle">eliza elliot</h3>
            <span class="team-foto__post">Commodo tempor </span>
            <div class="team-foto__inner">
              <a class="team-foto__link" href="#">

              </a>
              <a class="team-foto__link" href="#">

              </a>
            </div>
          </div>
        </li>

        <li class="team-foto__item">
          <img class="team-foto__img" src="images/about-team/team-2.jpg" alt="foto Eliza Elliot">
          <div class="team-foto__content">
            <h3 class="team-foto__subtitle">roscoe a. </h3>
            <span class="team-foto__post">Commodo tempor </span>
            <div class="team-foto__inner">
              <a class="team-foto__link" href="#">

              </a>
              <a class="team-foto__link" href="#">

              </a>
            </div>
          </div>
        </li>

        <li class="team-foto__item">
          <img class="team-foto__img" src="images/about-team/team-3.jpg" alt="foto Eliza Elliot">
          <div class="team-foto__content">
            <h3 class="team-foto__subtitle">ruby m. </h3>
            <span class="team-foto__post">Commodo tempor </span>
            <div class="team-foto__inner">
              <a class="team-foto__link" href="#">

              </a>
              <a class="team-foto__link" href="#">

              </a>
            </div>
          </div>
        </li>

        <li class="team-foto__item">
          <img class="team-foto__img" src="images/about-team/team-4.jpg" alt="foto Eliza Elliot">
          <div class="team-foto__content">
            <h3 class="team-foto__subtitle">marie f. bloss</h3>
            <span class="team-foto__post">Commodo tempor </span>
            <div class="team-foto__inner">
              <a class="team-foto__link" href="#">

              </a>
              <a class="team-foto__link" href="#">

              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>