<section class="slider">
  <div class="container--top">
    <div class="slider__wrapper">
      <div class="container">
        <ul class="slider__list">
          <li class="slider__item">
            <div class="slider__inner">
              <div class="slider__content">
                <h1 class="slider__title">smart and trendy</h1>

                <p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                <a class="slider__btn" href="#">
                  shop now
                <span class="sr-only">go to product page</span>
                  <svg class="slider__icon">
                    <use xlink:href="images/slider/sprite.svg#shop-now"></use>
                  </svg>
                </a>
              </div>
              <div class="slider__images">
                <img class="slider__img" src="images/slider/sofa.png" alt="sofa">
              </div>
            </div>
          </li>

          <li class="slider__item">
            <div class="slider__inner">
              <div class="slider__content">
                <div class="slider__title">smart and trendy 2</div>

                <p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                <a class="slider__btn" href="#">
                  shop now
                  <span class="sr-only">go to product page</span>
                  <svg class="slider__icon">
                    <use xlink:href="images/slider/sprite.svg#shop-now"></use>
                  </svg>
                </a>
              </div>
              <div class="slider__images">
                <img class="slider__img" src="images/slider/sofa.png" alt="sofa">
              </div>
            </div>
          </li>

          <li class="slider__item">
            <div class="slider__inner">
              <div class="slider__content">
                <div class="slider__title">smart and trendy 3</div>

                <p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                <a class="slider__btn" href="#">
                  shop now
                  <span class="sr-only">go to product page</span>
                  <svg class="icon">
                    <use xlink:href="images/slider/sprite.svg#shop-now"></use>
                  </svg>
                </a>
              </div>
              <div class="slider__images">
                <img class="slider__img" src="images/slider/sofa.png" alt="sofa">
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <ul class="info">
      <li class="info__item info__item--support">
        <div class="info__inner info__inner--support">
          <span class="info__title">Support 24/7.</span>
          <p>
            Contact us 24 hours a day, 7 days a week.
          </p>
        </div>
      </li>

      <li class="info__item info__item--delivery">
        <div class="info__inner info__inner--delivery">
          <span class="info__title">Delivery.</span>
          <p>
            Free shipping on all US order.
          </p>
        </div>
      </li>

      <li class="info__item info__item--payment">
        <div class="info__inner info__inner--payment">
          <span class="info__title ">100% Payment secure.</span>
          <p>
            We ensure secure payment with PEV.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>