<section class="slider">
      <div class="container container--top">
        <ul class="slider__list">
          <li class="slider__item">
            <div class="slider__inner">
              <div class="slider__content">
                <h2 class="slider__title">smart and trendy</h2>

                <p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                <a class="slider__btn" href="#">
                  shop now
                  <svg width="22" height="9">
                    <path fill="#fff" fill-rule="evenodd"
                      d="M535.3,654.472h16.948l-0.1,2.857a0.292,0.292,0,0,0,0,.41l0.172,0.172a0.28,0.28,0,0,0,.2.086,0.285,0.285,0,0,0,.2-0.084l4.193-4.211A0.292,0.292,0,0,0,557,653.5a0.283,0.283,0,0,0-.084-0.2l-4.193-4.213a0.289,0.289,0,0,0-.407,0l-0.172.173a0.287,0.287,0,0,0-.084.2,0.278,0.278,0,0,0,.084.2l0.113,2.865H535.292a0.3,0.3,0,0,0-.292.295v1.37A0.292,0.292,0,0,0,535.3,654.472Z"
                      transform="translate(-535 -649)" />
                  </svg>
                </a>
              </div>
              <div class="slider__images">
                <img class="slider__img" src="images/slider/sofa.png" alt="sofa">
              </div>
            </div>
          </li>

          <li class="slider__item">
            <div class="slider__inner">
              <div class="slider__content">
                <h2 class="slider__title">smart and trendy</h2>

                <p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                <a class="slider__btn" href="#">
                  shop now
                  <svg width="22" height="9">
                    <path fill="#fff" fill-rule="evenodd"
                      d="M535.3,654.472h16.948l-0.1,2.857a0.292,0.292,0,0,0,0,.41l0.172,0.172a0.28,0.28,0,0,0,.2.086,0.285,0.285,0,0,0,.2-0.084l4.193-4.211A0.292,0.292,0,0,0,557,653.5a0.283,0.283,0,0,0-.084-0.2l-4.193-4.213a0.289,0.289,0,0,0-.407,0l-0.172.173a0.287,0.287,0,0,0-.084.2,0.278,0.278,0,0,0,.084.2l0.113,2.865H535.292a0.3,0.3,0,0,0-.292.295v1.37A0.292,0.292,0,0,0,535.3,654.472Z"
                      transform="translate(-535 -649)" />
                  </svg>
                </a>
              </div>
              <div class="slider__images">
                <img class="slider__img" src="images/slider/sofa.png" alt="sofa">
              </div>
            </div>
          </li>

          <li class="slider__item">
            <div class="slider__inner">
              <div class="slider__content">
                <h2 class="slider__title">smart and trendy</h2>

                <p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                <a class="slider__btn" href="#">
                  shop now
                  <svg width="22" height="9">
                    <path fill="#fff" fill-rule="evenodd"
                      d="M535.3,654.472h16.948l-0.1,2.857a0.292,0.292,0,0,0,0,.41l0.172,0.172a0.28,0.28,0,0,0,.2.086,0.285,0.285,0,0,0,.2-0.084l4.193-4.211A0.292,0.292,0,0,0,557,653.5a0.283,0.283,0,0,0-.084-0.2l-4.193-4.213a0.289,0.289,0,0,0-.407,0l-0.172.173a0.287,0.287,0,0,0-.084.2,0.278,0.278,0,0,0,.084.2l0.113,2.865H535.292a0.3,0.3,0,0,0-.292.295v1.37A0.292,0.292,0,0,0,535.3,654.472Z"
                      transform="translate(-535 -649)" />
                  </svg>
                </a>
              </div>
              <div class="slider__images">
                <img class="slider__img" src="images/slider/sofa.png" alt="sofa">
              </div>
            </div>
          </li>
        </ul>

        <ul class="info">
          <li class="info__item info__item--support">
            <div class="info__inner info__inner--support">
              <span class="info__title">Support 24/7.</span>
              <p>
                Contact us 24 hours a day,
                7 days a week.
              </p>
            </div>
          </li>
          <li class="info__item info__item--delivery">
            <div class="info__inner info__inner--delivery">
              <span class="info__title">Delivery.</span>
              <p>
                Free shipping on all US order.
              </p>
            </div>
          </li>
          <li class="info__item info__item--payment">
            <div class="info__inner info__inner--payment">
              <span class="info__title ">100% Payment secure.</span>
              <p>
                We ensure secure payment
                with PEV.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </section>