$title-color: #243f4d;
$text-color: #436372;
$button-color: #ffffff;
$filter-color: #8b8b8b;
$filter-color-active: #191919;
$price-color: #a3bbc8;
$footer-color: #7b7b7b;
$partner-color: #fef7f0;
$bc-color: #fcd7b6;
$decor-color: #fde7d3;
$line-color: #e8e4df;
$arrow-color: #feefe2;
$insights-color: #262626;

%dmsans-700{
  font-family: 'DMSans', sans-serif;
  font-weight: 700;
}

%dmsans-500{
  font-family: 'DMSans', sans-serif;
  font-weight: 500;
}

%dmsans-400{
  font-family: 'DMSans', sans-serif;
  font-weight: 400;
}

%rubik-500{
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%rubik-400{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{a}x(#{$numbers});
}
