$title-color: #243f4d;
$text-color: #436372;
$button-color: #ffffff;
$filter-color: #8b8b8b;
$filter-color-active: #191919;
$price-color: #a3bbc8;
$footer-color: #7b7b7b;

%dmsans-700{
  font-family: 'DMSans', sans-serif;
  font-weight: 700;
}

%dmsans-500{
  font-family: 'DMSans', sans-serif;
  font-weight: 500;
}

%dmsans-400{
  font-family: 'DMSans', sans-serif;
  font-weight: 400;
}

%rubik-500{
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%rubik-400{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}