<footer class="footer">
    <div class="container">
      <div class="footer__top">
        <div class="footer__inner">
          <div class="footer__info">
            <address class="footer__contact">
              <a class="footer__logo" href="#">
                <img class="footer__img" src="images/header/logo.png" alt="logo company glee">
              </a>

              <a class="footer__cont footer__address" href="#">
                address:<span>4772 Wines Lane Houston, TX 77032</span>
              </a>

              <a class="footer__cont footer__fone" href="tel:+8323475843" type="tel">
                Telephone:<span>+832-347-5843</span>
              </a>

              <a class="footer__cont footer__email" href="mailto:contact@Glee.com" type="email">
                Email:<span>contact@Glee.com</span>
              </a>
            </address>
          </div>

          <div class="footer__list footer__list--services">
            <h4 class="footer__subtitle">services</h4>
            <ul class="footer__wrapper">
              <li class="footer__item">
                <a class="footer__link" href="#">about us</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">return police</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">our blog</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">contact us</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">tetms & condition</a>
              </li>
            </ul>
          </div>

          <div class="footer__list footer__list--account">
            <h4 class="footer__subtitle">account</h4>
            <ul class="footer__wrapper">
              <li class="footer__item">
                <a class="footer__link" href="#">your account</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">checkout</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">login</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">register</a>
              </li>
            </ul>
          </div>

          <div class="footer__newsletter">
            <h4 class="footer__subtitle">newsletter</h4>
            <p>
              Subscribe by our newsletter and get
              update protidin.
            </p>
            <form action="#" class="footer__form">
              <label for='email'></label>
              <input class="footer__input" type="email" placeholder="Email address" required>
              <label for='button'></label> 
              <input class="footer__button" type="submit" value="subscribe">
            </form>
          </div>
        </div>
      </div>

      <div class="footer__bottom">
        <p>
          ©2020 CopyRight Example. All rights reserved.
        </p>
        <ul class="footer__nav">
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">home</a>
          </li>
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">about</a>
          </li>
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">blog</a>
          </li>
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">contact</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>