<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Furniture Glee - Home</title>
  <link rel="shortcut icon" href="/images/glee.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/index.min.css">
</head>

<body class="body">
  {% include 'app/components/_header/_header.html' %}
 
  <main class="main">
   
    {# {% include 'app/components/_slider/_slider.html' %}
    {% include 'app/components/_products/_products.html' %}
    {% include 'app/components/_new-design/_new-design.html' %}
    {% include 'app/components/_insights/_insights.html' %} #}


  </main>

  {# {% include 'app/components/_footer/_footer.html' %}  #}
   
  <script src="js/main.min.js"></script>
</body>

</html>