<section class="about-mission">
  <div class="container">
    <div class="about-mission__top">
      <img class="about-mission__img" src="images/about-mission/about-bg.jpg" alt="men in room">

      <div class="about-mission__content">
        <div class="about-mission__inner">
          <div class="about-mission__year">12</div>

          <ul class="about-mission__list">
            <li class="about-mission__work">years</li>
            <li class="about-mission__work">experience</li>
            <li class="about-mission__work">working</li>
          </ul>
        </div>

        <h2 class="about-mission__title title">
        Mission of our creative house
      </h2>

        <p>
        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
      </p>

        <ul class="about-mission__info">
          <li class="about-mission__item about-mission__item--project">
            <span class="about-mission__num">520+</span>
            <span class="about-mission__text">projects</span>
          </li>

          <li class="about-mission__item about-mission__item--revenue">
            <span class="about-mission__num">$4M</span>
            <span class="about-mission__text">revenue</span>
          </li>

          <li class="about-mission__item about-mission__item--awards">
            <span class="about-mission__num">250</span>
            <span class="about-mission__text">awards</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="statistic">
    <ul class="statistic__list">
      <li class="statistic__item statistic__item--satisfied">
        <span class="statistic__num">99%</span>
        <h3 class="statistic__subtitle">
          Satisﬁed Clients Rate
        </h3>
      </li>

      <li class="statistic__item statistic__item--delivered">
        <span class="statistic__num">5020+</span>
        <h3 class="statistic__subtitle">
          Products Delivered
        </h3>
      </li>

      <li class="statistic__item statistic__item--time">
        <span class="statistic__num">23hr</span>
        <h3 class="statisti__subtitle">
          Daily Working Time
        </h3>
      </li>

      <li class="statistic__item statistic__item--brands">
        <span class="statistic__num">140+</span>
        <h3 class="statistic__subtitle">
          Brands in Store
        </h3>
      </li>
    </ul>
  </div>
</section>