.header {
  padding: 50px 0;
  &__wrapper{
    display: flex;
    justify-content: space-between;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__link {
    color: $text-color;
    text-transform: capitalize;
    font-size: 15px;
    line-height: 1;
    @extend %rubik-500;
  }
}

.user-nav {
  display: flex;
  width: 320px;
  justify-content: space-around;

  &__link {
    position: relative;
    padding: 0 25px;
  }

  &__grup {
    display: flex;
    margin: 0 25px;
    justify-content: center;
  }

  &__grup::before {
    content: '|';
    position: absolute;
    background-color: #fcd7b6;
    width: 180px;
    height: 50px;
    color: #fde7d3;
    text-align: center;
    align-items: center;
    font-size: 38px;
    top: 30px;
    bottom: 0;
    border-radius: 25px;
    z-index: 99;
  }

  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ffffff;
    top: -8px;
    right: 13px;
    font-size: 10px;
    color: $title-color;
    line-height: 1.6;
    text-align: center;
    z-index: 99;
    @extend %dmsans-400;
  }

  &__search::before,
  &__view::before {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 1;
    content: '';
    align-items: center;
  }

  &__search::before {
    background-color: #edf1f4;
    top: -18px;
    right: 7px;
  }

  &__view::before {
    background-color: $price-color;
    top: -17px;
    right: 9px;
  }

  &__img {
    position: relative;
    z-index: 99;
  }
}


