.new-design {
  padding: 105px 0 120px;
  text-transform: capitalize;

  &__title {
    @extend %dmsans-700;
    font-size: 36px;
    margin-bottom: 37px;
    text-align: center;
  }

  &__filter {
    display: flex;
    justify-content: center;
  }

  &__btn {
    margin-bottom: 80px;
    margin-right: 30px;
    @extend %dmsans-700;
    font-size: 16px;
    color: $filter-color;
    text-transform: capitalize;
    background-color: transparent;
    padding: 0;
    border: transparent;
    cursor: pointer;
    transition: color .3s ease;
    outline-color: #FFFFFF;
    &:hover {
      color: $filter-color-active;
    }
  }
/*************************************/
  &__products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 35px;
  }
  &__card {
    max-width: 370px;
    height: 246px;
    border-radius: 4px;
    padding-left: 37px;
    background-color: #f8f8f8;
    position: relative;
    overflow: hidden;
    transition: all .4s ease;
    &:hover {
      .new-design__choice {
        transform: translateY(0);
      }
    }
  }

  &__subtitle {
    @extend %dmsans-700;
    font-size: 20px;
    padding-top: 43px;
    max-width: 200px;
    margin-bottom: 15px;
    position: relative;
    z-index: 2;
  }

  &__content {
    display: flex;
    justify-content: space-around;
  }

  p {
    @extend %dmsans-700;
    font-size: 16px;
    color: $price-color;
  }

  &__img {
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 270px;
    min-height: 105px;
    margin-top: -38px;
  }
}
/***************************/
.new-design__choice {
  position: absolute;
  display: flex;
  justify-content: center;
  transition: background-color path .4s ease;
  margin-top: 15px;
  transform: translateY(1300%);
  &--link,
  &--btn {
    background-color: $button-color;
    width: 45px;
    height: 45px;
    border-radius: 50%; 
    text-align: center;
    vertical-align: middle;
    display: block;
    transition: background-color path .4s ease;
    box-shadow: 9px 8px 17px 3px rgba(5, 5, 5, 0.05);
    margin-right: 15px;
    svg {
      margin-top: 13px;
    }
    &:hover {
      background-color: $price-color;
      path {
        fill: $button-color;
      }
    }
  }

  &--btn {
    outline-width: 0;
    border: none;
    &:not(:last-child) {
      margin-right: 15px;
    }
    svg {
      margin-top: 0;
      display: inline;
      vertical-align: middle;
    }
  }
}