.filter {
    &__btn {
    margin-bottom: 85px;
    margin-right: 30px;
    @extend %dmsans-700;
    color: $filter-color;
    text-transform: capitalize;
    background-color: transparent;
    padding: 0;
    border: transparent;
    cursor: pointer;
    transition: color .3s ease;
    outline-color: #FFFFFF;
    &:hover {
      color: $filter-color-active;
    }
  }

  .mixitup-control-active {
    color: $filter-color-active;
  }
}

.product {
  padding-top: 75px;

  &__title {
    margin-bottom: 40px;
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: center;
  }


/***********style ul - product__items************/
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
    margin-bottom: 185px;
  }
/*******style li - product__model**********/
  &__model {
    text-align: center;
    width: 265px;
    height: 380px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    position: relative;
    border-radius: 8px;
  }
  &__model-box {
    overflow: hidden;
    position: relative;
    height: 235px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__img {
    padding-top: 30px;
    width: 186px;
    max-height: 205px;
    object-fit: contain;
  }
 
  &__name {
    @extend %dmsans-500;
    line-height: 2.5;
    color: $title-color;
    transition: color .3 ease;
    &:hover {
      color: $price-color;
    }
  }

  &__price {
    @extend %dmsans-700;
    line-height: 2.5;
    color: $price-color;
    margin-bottom: 40px;
  }

  &__model:hover {
    .product__choice {
      transform: translateY(0);
    }
  }
}
/***********************************/
.choice {
  position: absolute;
  display: flex;
  justify-content: center;
  transition: background-color path .4s ease;
  margin-top: 15px;
  transform: translateY(1300%);
  &__link,
  &__btn {
    background-color: $button-color;
    width: 45px;
    height: 45px;
    border-radius: 50%; 
    text-align: center;
    vertical-align: middle;
    display: block;
    cursor: pointer;
    transition: background-color path .4s ease;
    box-shadow: 9px 8px 17px 3px rgba(5, 5, 5, 0.05);
    margin-right: 15px;
    svg {
      margin-top: 13px;
    }
    &:hover {
      background-color: $price-color;
      path {
        fill: $button-color;
      }
    }
  }

  &__btn {
    outline-width: 0;
    border: none;
    &:not(:last-child) {
      margin-right: 15px;
    }
    svg {
      margin-top: 0;
      display: inline;
      vertical-align: middle;
    }
  }
}
/*************stock****************/
.stock {
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 30px;
  }
  
  &__item {
    width: 870px;
    height: 390px;
    background-color: #feefe2;
    display: flex;
    color: $title-color;
  }

  &__img-mirum {
    margin: -114px 18px 85px 137px;
  }

  &__content-mirum {
    padding: 103px 0 98px;
  }

  &__img-malesuada {
    margin: -94px 62px 85px 148px;
  }

  &__content-malesuada {
    padding: 90px 0 85px;
  }

  &__name {
    @extend %dmsans-700;
    font-size: 26px;
    list-style: 1.2;
    max-width: 250px;
    text-transform: capitalize;
    margin-bottom: 25px;
  }

  &__name-mirum {
    margin-bottom: 33px;
  }

  &__text {
    @extend %rubik-400;
    line-height: 1.9;
    min-width: 330px;
    margin-bottom: 60px;
  }

  &__link {
    @extend %rubik-500;
    font-size: 15px;
    color: $text-color;
    text-transform: capitalize;
    padding: 23px 20px 23px 19px;
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    transition: background-color color path .3 ease;
    svg {
      margin-left: 45px;
    }
    &:hover {
      background-color: $text-color;
      color: #feefe2;
      path {
        fill: #feefe2;
      }
    }
  }
}