<section class="top">
  <div class="container">
    <h2 class="top__title">about us</h2>

    <div class="breadcrumbs">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="#">
            home
          </a>
        </li>

        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="#">
            about us
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>