<section class="insights">
  <div class="container">
    <div class="insights__top">
      <h2 class="insights__title title">our insights & articles</h2>
      <a class="insights__link" href="#">
        view all
        <span class="sr-only">go to product page</span>
        <svg class="insights__icon">
          <use xlink:href="images/our-insights/insights-sprite.svg#arrow"></use>
        </svg>
      </a>
    </div>

    <ul class="articles">
      <li class="articles__item">
        <a class="article__links" href="#">
          <img class="articles__img" src="images/our-insights/article-1.jpg" alt="room">
        </a>
        <div class="articles__content">
          <div class="articles__text">
            <a class="articles__link" href="#">news</a>
            <a class="articles__page" href="#">
              <h3 class="articles__name">Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</h3>
            </a>
          </div>

          <div class="articles__info">
            <a class="articles__data articles__about" href="#">
              <span class="sr-only">publication time</span>
              <svg class="articles__icon">
                <use xlink:href="images/our-insights/insights-sprite.svg#time"></use>
              </svg>
              28 january, 2020
            </a>
            <a class="articles__autor articles__about" href="#">
              <span class="sr-only">autors name</span>
              <svg class="articles__icon">
                <use xlink:href="images/our-insights/insights-sprite.svg#autor"></use>
              </svg>
              by admin
            </a>
          </div>
        </div>
      </li>

      <li class="articles__item">
        <a class="article__links" href="#">
          <img class="articles__img" src="images/our-insights/article-2.jpg" alt="room">
        </a>
        <div class="articles__content">
          <div class="articles__text">
            <a class="articles__link" href="#">news</a>
            <a class="articles__page" href="#">
              <h3 class="articles__name">Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</h3>
            </a>
          </div>
          <div class="articles__info">
            <a class="articles__data articles__about" href="#">
              <span class="sr-only">publication time</span>
              <svg class="articles__icon">
                <use xlink:href="images/our-insights/insights-sprite.svg#time"></use>
              </svg>
                28 january, 2020
              </a>
            <a class="articles__autor articles__about" href="#">
              <span class="sr-only">autors name</span>
              <svg class="articles__icon">
                <use xlink:href="images/our-insights/insights-sprite.svg#autor"></use>
              </svg>
                by admin
              </a>
          </div>
        </div>
      </li>

      <li class="articles__item">
        <a class="article__links" href="#">
          <img class="articles__img" src="images/our-insights/article-3.jpg" alt="room">
        </a>
        <div class="articles__content">
          <div class="articles__text">
            <a class="articles__link" href="#">news</a>
            <a class="articles__page" href="#">
              <h3 class="articles__name">Rncididunt ut labore et dolore magna aliqua. Ut enim</h3>
            </a>
          </div>
          <div class="articles__info">
            <a class="articles__data articles__about" href="#">
              <span class="sr-only">publication time</span>
              <svg class="articles__icon">
                <use xlink:href="images/our-insights/insights-sprite.svg#time"></use>
              </svg>
                28 january, 2020
              </a>
            <a class="articles__autor articles__about" href="#">
              <span class="sr-only">autors name</span>
              <svg class="articles__icon">
                <use xlink:href="images/our-insights/insights-sprite.svg#autor"></use>
              </svg>
                by admin
              </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

<section class="partner">
  <div class="container">
    <ul class="partner__list">
      <li class="partner__item">
        <span class="sr-only">logo company peternos stephanie</span>
        <img class="partner__img" src="images/our-insights/our-logo-1.png" alt="logo peternos stephanie">
      </li>

      <li class="partner__item">
        <span class="sr-only">logo company consulting</span>
        <img class="partner__img" src="images/our-insights/our-logo-2.png" alt="logo kmn consulting">
      </li>

      <li class="partner__item">
        <span class="sr-only">logo company chainforce</span>
        <img class="partner__img" src="images/our-insights/our-logo-3.png" alt="logo chainforce">
      </li>

      <li class="partner__item">
        <span class="sr-only">logo company nextg3n</span>
        <img class="partner__img" src="images/our-insights/our-logo-4.png" alt="logo nextg3n">
      </li>

      <li class="partner__item">
        <span class="sr-only">logo company vintage</span>
        <img class="partner__img" src="images/our-insights/our-logo-5.png" alt="logo vintage">
      </li>
    </ul>
  </div>
</section>