<section class="product">
  <div class="container">
    <h2 class="product__title title">Products of the week</h2>

    <ul class="product__list filter">
      <li class="product__item">
        <button class="product__button filter__btn" data-filter="all">all</button>
      </li>
      <li class="product__item">
        <button class="product__button filter__btn" data-filter=".furnitures">furnitures</button>
      </li>
      <li class="product__item">
        <button class="product__button filter__btn" data-filter=".chairs">chairs</button>
      </li>
      <li class="product__item">
        <button class="product__button filter__btn" data-filter=".lighting">lighting</button>
      </li>
      <li class="product__item">
        <button class="product__button filter__btn" data-filter=".decor">decor</button>
      </li>
    </ul>

    <ul class="product__items">
      <li class="product__model mix furnitures">
        <div class="product__model-box">
          <a class="product__links" href="#">
            <img class="product__img" src="images/products/product1.png" alt="Wooden radio">
          </a>
          <div class="product__choice choice">
            <a class="product__link choice__link" href="#">
              <svg class="icon">
                <use xlink:href="images/products/products-sprite.svg#look"></use>
              </svg>
            </a>
            <button class="product__btn choice__btn" type="button">
              <svg class="icon">
                <use xlink:href="images/products/products-sprite.svg#garbage"></use>
              </svg>
            </button>
            <button class="product__btn choice__btn" type="button">
              <svg class="icon">
                <use xlink:href="images/products/products-sprite.svg#love"></use>
              </svg>
            </button>
          </div>
        </div>
        <a class="product__page" href="#">
          <h3 class="product__name">Wooden radio</h3>
        </a>
        <div class="product__price">$29.00</div>
      </li>

      <li class="product__model mix lighting">
        <div class="product__model-box">
          <a class="product__links" href="#">
            <img class="product__img" src="images/products/product2.png" alt="Wooden chair">
          </a>
          <div class="product__choice choice">
            <a class="product__link choice__link" href="#">
              <svg class="icon">
                <use xlink:href="images/products/products-sprite.svg#look"></use>
              </svg>
            </a>
            <button class="product__btn choice__btn" type="button">
              <svg class="icon">
                <use xlink:href="images/products/products-sprite.svg#garbage"></use>
              </svg>
            </button>
            <button class="product__btn choice__btn" type="button">
              <svg class="icon">
                <use xlink:href="images/products/products-sprite.svg#love"></use>
              </svg>
            </button>
          </div>
        </div>
        <a class="product__page" href="#">
          <h3 class="product__name">Wooden radio</h3>
        </a>
        <div class="product__price">$29.00</div>
      </li>

      <li class="product__model mix decor furnitures">
        <div class="product__model-box">
          <a class="product__links" href="#">
            <img class="product__img" src="images/products/product3.png" alt="Wooden chair">
          </a>
          <div class="product__choice choice">
            <a class="product__link choice__link" href="#">
              <svg class="icon">
                <use xlink:href="images/products/products-sprite.svg#look"></use>
              </svg>
            </a>
            <button class="product__btn choice__btn" type="button">
              <svg class="icon">
                <use xlink:href="images/products/products-sprite.svg#garbage"></use>
              </svg>
            </button>
            <button class="product__btn choice__btn" type="button">
              <svg class="icon">
                <use xlink:href="images/products/products-sprite.svg#love"></use>
              </svg>
            </button>
          </div>
        </div>
        <a class="product__page" href="#">
          <h3 class="product__name">Wooden chair</h3>
        </a>
        <div class="product__price">$29.00</div>
      </li>

      <li class="product__model mix furnitures decor">
        <div class="product__model-box">
          <a class="product__links" href="#">
            <img class="product__img" src="images/products/product4.png" alt="Retro table">
          </a>
          <div class="product__choice choice">
            <a class="product__link choice__link" href="#">
              <svg class="icon">
                <use xlink:href="images/products/products-sprite.svg#look"></use>
              </svg>
            </a>
            <button class="product__btn choice__btn" type="button">
              <svg class="icon">
                <use xlink:href="images/products/products-sprite.svg#garbage"></use>
              </svg>
            </button>
            <button class="product__btn choice__btn" type="button">
              <svg class="icon">
                <use xlink:href="images/products/products-sprite.svg#love"></use>
              </svg>
            </button>
          </div>
        </div>
        <a class="product__page" href="#">
          <h3 class="product__name">Retro table</h3>
        </a>
        <div class="product__price">$29.00</div>
      </li>

      <li class="product__model mix decor">
        <div class="product__model-box">
          <a class="product__links" href="#">
            <img class="product__img" src="images/products/product5.png" alt="Wooden radio">
          </a>
          <div class="product__choice choice">
            <a class="product__link choice__link" href="#">
              <svg class="icon">
                <use xlink:href="images/products/products-sprite.svg#look"></use>
              </svg>
            </a>
            <button class="product__btn choice__btn" type="button">
              <svg class="icon">
                <use xlink:href="images/products/products-sprite.svg#garbage"></use>
              </svg>
            </button>
            <button class="product__btn choice__btn" type="button">
              <svg class="icon">
                <use xlink:href="images/products/products-sprite.svg#love"></use>
              </svg>
            </button>
          </div>
        </div>
        <a class="product__page" href="#">
          <h3 class="product__name">Wooden radio</h3>
        </a>
        <div class="product__price">$29.00</div>
      </li>

      <li class="product__model mix furnitures">
        <div class="product__model-box">
          <a class="product__links" href="#">
            <img class="product__img" src="images/products/product6.png" alt="Wooden chair">
          </a>
          <div class="product__choice choice">
            <a class="product__link choice__link" href="#">
              <svg class="icon">
                <use xlink:href="images/products/products-sprite.svg#look"></use>
              </svg>
            </a>
            <button class="product__btn choice__btn" type="button">
              <svg class="icon">
                <use xlink:href="images/products/products-sprite.svg#garbage"></use>
              </svg>
            </button>
            <button class="product__btn choice__btn" type="button">
              <svg class="icon">
                <use xlink:href="images/products/products-sprite.svg#love"></use>
              </svg>
            </button>
          </div>
        </div>
        <a class="product__page" href="#">
          <h3 class="product__name">Wooden chair</h3>
        </a>
        <div class="product__price">$29.00</div>
      </li>

      <li class="product__model mix chairs">
        <div class="product__model-box">
          <a class="product__links" href="#">
            <img class="product__img" src="images/products/product7.png" alt="Wooden chair">
          </a>
          <div class="product__choice choice">
            <a class="product__link choice__link" href="#">
              <svg class="icon">
                <use xlink:href="images/products/products-sprite.svg#look"></use>
              </svg>
            </a>
            <button class="product__btn choice__btn" type="button">
              <svg class="icon">
                <use xlink:href="images/products/products-sprite.svg#garbage"></use>
              </svg>
            </button>
            <button class="product__btn choice__btn" type="button">
              <svg class="icon">
                <use xlink:href="images/products/products-sprite.svg#love"></use>
              </svg>
            </button>
          </div>
        </div>
        <a class="product__page" href="#">
          <h3 class="product__name">Wooden chair</h3>
        </a>
        <div class="product__price">$29.00</div>
      </li>

      <li class="product__model mix chairs">
        <div class="product__model-box">
          <a class="product__links" href="#">
            <img class="product__img" src="images/products/product8.png" alt="Retro table">
          </a>

          <div class="product__choice choice">
            <a class="product__link choice__link" href="#">
              <svg class="icon">
                <use xlink:href="images/products/products-sprite.svg#look"></use>
              </svg>
            </a>

            <button class="product__btn choice__btn" type="button">
              <svg class="icon">
                <use xlink:href="images/products/products-sprite.svg#garbage"></use>
              </svg>
            </button>

            <button class="product__btn choice__btn" type="button">
              <svg class="icon">
                <use xlink:href="images/products/products-sprite.svg#love"></use>
              </svg>
            </button>
          </div>
        </div>
        <a class="product__page" href="#">
          <h3 class="product__name">Retro table</h3>
        </a>
        <div class="product__price">$29.00</div>
      </li>
    </ul>
  </div>

  <div class="stock">
    <div class="container container--top">
      <div class="stock__list">
        <div class="stock__item">
          <img class="stock__img stock__img-mirum" src="images/products/top_lamp1.png" alt="lamp cat">
          <div class="stock__content stock__content-mirum">
            <a class="stock__product" href="#">
              <h3 class="stock__name stock__name-mirum">mirum notare tellus</h3>
            </a>
            <p>
              LEDCornBulb Lamp 5W 7W 10W 12W 15W E26 E27LEDCornLight
            </p>
            <a class="stock__link" href="#">
                  view more
              <svg class="icon">
                <use xlink:href="images/slider/sprite.svg#shop-now"></use>
              </svg>
            </a>
          </div>
        </div>

        <div class="stock__item">
          <img class="stock__img stock__img-malesuada" src="images/products/top_lamp2.png" alt="lamp malesuada">

          <div class="stock__content stock__content-malesuada">
            <a class="stock__product" href="#">
              <h3 class="stock__name">malesuada tempor
                  euismod</h3>
            </a>
            <p>
              50W 8000lm Compact Size for HID Street Light Replacement LED Corn Light
            </p>
            <a class="stock__link" href="#">
                  view more
              <svg class="icon">
                <use xlink:href="images/slider/sprite.svg#shop-now"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>