.new-design {
  padding: 105px 0 120px;
  text-transform: capitalize;

  &__title {
    margin-bottom: 37px;
    text-align: center;
  }
  /*************************************/
  &__products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 35px;
    margin-bottom: 120px;
  }

  &__card {
    border-radius: 4px;
    padding-left: 35px;
    background-color: #f8f8f8;
    position: relative;
    overflow: hidden;
  }

  &__subtitle {
    @extend %dmsans-700;
    font-size: 20px;
    padding-top: 43px;
    max-width: 200px;
    margin-bottom: 15px;
    position: relative;
    z-index: 2;
    color: #606060;
    transition: color 0.3s ease;
    &:hover {
      color: $price-color;
    }
  }

  &__content {
    display: flex;
    justify-content: space-around;
  }

  span {
    @extend %dmsans-700;
    color: $price-color;
  }

  &__img {
    object-fit: cover;
    max-width: 270px;
    margin-top: -38px;
  }

  @include _1100 {
    padding: 50px 0 80px;

    &__products {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @include _650 {
    &__products {
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 60px;
    }
  }
}
/***************************/
.video {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline-color: invert;

  &__icon {
    width: 127px;
    height: 127px;
    fill: $price-color;
    transition: border 0.3s ease;

    &:hover {
      border: 15px solid rgba(163, 187, 200, 0.4);
      border-radius: 50%;
    }
  }

  @include _650 {
    min-height: 250px;

    &__icon {
      width: 87px;
      height: 87px;
    }
  }
}
