<section class="new-design">
  <div class="container">
    <h2 class="new-design__title title">new design</h2>

    <ul class="filter">
      <li class="filter__item">
        <button class="new-design__btn filter__btn" type="button" data-filter="all">all</button>
      </li>
      <li class="filter__item">
        <button class="new-design__btn filter__btn" type="button"
              data-filter=".new-design__furniture">furniture</button>
      </li>
      <li class="filter__item">
        <button class="new-design__btn filter__btn" type="button" data-filter=".new-design__chairs">chairs</button>
      </li>
      <li class="filter__item">
        <button class="new-design__btn filter__btn" type="button"
              data-filter=".new-design__lightinf">lightinf</button>
      </li>
      <li class="filter__item">
        <button class="new-design__btn filter__btn" type="button" data-filter=".new-design__decor">decor</button>
      </li>
    </ul>

    <ul class="new-design__products">
      <li class="new-design__card mix new-design__furniture new-design__decor">
        <a href="" class="new-design__page">
          <h3 class="new-design__subtitle">beat flat pendant black</h3>
        </a>
        <div class="new-design__content">
          <span>classic</span>
          <img class="new-design__img" src="images/new-design/design-1.png" alt="beat flat pendant">
        </div>
      </li>

      <li class="new-design__card mix new-design__furniture">
        <a href="" class="new-design__page">
          <h3 class="new-design__subtitle">lampe sur pieds bamboo</h3>
        </a>
        <div class="new-design__content">
          <span>classic</span>
          <img class="new-design__img" src="images/new-design/design-2.png" alt="lampe sur pieds bamboo">
        </div>
      </li>

      <li class="new-design__card mix new-design__decor new-design__chairs">
        <a href="" class="new-design__page">
          <h3 class="new-design__subtitle">rattan rocking chair</h3>
        </a>
        <div class="new-design__content">
          <span>classic</span>
          <img class="new-design__img" src="images/new-design/design-3.png" alt="rattan rocking chair">
        </div>
      </li>

      <li class="new-design__card mix new-design__furniture">
        <a href="" class="new-design__page">
          <h3 class="new-design__subtitle">rattan rocking chair</h3>
        </a>
        <div class="new-design__content">
          <span>classic</span>
          <img class="new-design__img" src="images/new-design/design-4.png" alt="rattan rocking chair">
        </div>
      </li>

      <li class="new-design__card mix new-design__decor new-design__chairs">
        <a href="" class="new-design__page">
          <h3 class="new-design__subtitle">rattan rocking chair</h3>
        </a>
        <div class="new-design__content">
          <span>classic</span>
          <img class="new-design__img" src="images/new-design/design-5.png" alt="rattan rocking chair">
        </div>
      </li>

      <li class="new-design__card mix new-design__furniture new-design__decor">
        <a href="" class="new-design__page">
          <h3 class="new-design__subtitle">lampe sur pieds bamboo</h3>
        </a>
        <div class="new-design__content">
          <span>classic</span>
          <img class="new-design__img" src="images/new-design/design-6.png" alt="lampe sur pieds bamboo">
        </div>
      </li>
    </ul>
  </div>

  <a class="video" style="background-image: url(images/new-design/video.jpg)" data-fancybox
        href="https://www.youtube.com/watch?v=RyHzFDGgqKA&list=PLpZakfG8U02urv03BGk-oXdbrV_ZJHC4-&ab_channel=%D0%90%D0%BB%D0%B5%D0%BA%D1%81%D0%B5%D0%B9%D0%97%D0%B5%D0%BC%D1%81%D0%BA%D0%BE%D0%B2">
    <span class="sr-only">starpt playback</span>
    <svg class="video__icon">
      <use xlink:href="images/new-design/play.svg#play1"></use>
    </svg>
  </a>
</section>